.navParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89vw;
  margin: auto;
}

.premium {
  color: #17c964;
}

.seperate {
  border-right: 1px solid gray;
  height: 30px;
  width: 1px;
  margin: 0 10px;
}
